.idea
.vscode

# keycloak should be in the initial state
keycloak

/keycloak-integration/.gradle
/keycloak-integration/build
/keycloak-integration/lombok.config

/keycloak-webapp/.gradle
/keycloak-webapp/build
/keycloak-webapp/lombok.config