.idea
.vscode
lib

# keycloak should be in the initial state
/keycloak

/keycloak-embedded/.idea
/keycloak-embedded/target

/keycloak-integration/.gradle
/keycloak-integration/build
/keycloak-integration/lombok.config

/keycloak-webapp/.gradle
/keycloak-webapp/build
/keycloak-webapp/lombok.config