html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn-extra-lg {
    padding: 1.5rem 3rem;
    font-size: 3.25rem;
    border-radius: .3rem;
}